@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
.rb-navbar {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9999;
}

.rb-navbar-nav {
  height: 100px;
  line-height: 100px;
}

.rb-navbar-nav li:hover a, .rb-navbar-nav li:focus a, .rb-navbar-nav li:active a {
  background-color: transparent;
  color: #000;
}

.rb-navbar-nav li {
  margin-left: 60px;
}

.rb-navbar-nav li:first-child {
  margin-left: 0;
}

.rb-navbar-nav li:last-child {
  margin-right: 15px;
}

.rb-navbar-nav .rb-navbar-item a {
  font-size: 16px;
  position: relative;
  color: #000;
  display: inline;
  height: auto;
  line-height: 100px;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 7px;
  transition: ease all 0.3s;
}

.rb-navbar-nav .rb-navbar-item a:hover {
  padding-bottom: 10px;
  padding-top: 7px;
  background-color: transparent;
}

.rb-navbar-nav .rb-navbar-item a:hover:after {
  width: 100%;
}

.rb-navbar-nav .rb-navbar-item a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #0f0;
  content: "";
  transition: width 0.3s ease;
}

.rb-navbar-nav .rb-navbar-toggle a {
  font-size: 16px;
  position: relative;
  color: #000;
  display: inline;
  height: auto;
  line-height: 100px;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 7px;
}

.rb-navbar-nav .rb-navbar-toggle a:hover {
  padding-bottom: 10px;
  padding-top: 7px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

.rb-navbar-brand {
  font-family: "Montserrat", sans-serif;
  line-height: 100px;
  color: #000;
  margin: 0;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  transition: color ease 0.1s;
}

.rb-navbar-brand:hover, .rb-navbar-brand:active, .rb-navbar-brand:focus {
  color: rgba(0, 0, 0, 0.5);
}

.rb-navbar-sticky .rb-navbar-brand {
  line-height: 60px;
  font-size: 18px;
}

.rb-navbar-sticky .rb-navbar-nav {
  height: 60px;
  line-height: 60px;
}

.rb-navbar-sticky .rb-navbar-nav li a {
  font-size: 14px;
  line-height: 60px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.rb-navbar-sticky .rb-navbar-nav li a:hover {
  padding-bottom: 4px;
  padding-top: 4px;
}

.rb-offcanvas {
  background-image: url("/media/theme/mobile_menu.png");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#offcanvas {
  z-index: 99999;
}

.rb-particles {
  max-width: 100vw;
  height: 89vh;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: url("/media/theme/transp_bg.png");
}

.rb-cover-text {
  font-size: 36px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 600px;
  height: 120px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.rb-accordion .uk-accordion-title {
  border-top: 1px solid rgba(0, 255, 0, 0.3);
  border-left: 1px solid rgba(0, 255, 0, 0.3);
  border-right: 1px solid rgba(0, 255, 0, 0.3);
  border-bottom: 1px solid rgba(0, 255, 0, 0.3);
  background: #fff;
}

.rb-accordion .uk-accordion-title:hover {
  background: #0f0;
  color: #fff;
}

.rb-accordion .uk-accordion-content {
  border-left: 1px solid rgba(0, 255, 0, 0.5);
  border-right: 1px solid rgba(0, 255, 0, 0.5);
  border-bottom: 1px solid rgba(0, 255, 0, 0.5);
}

.rb-maerkesager-minus {
  background: #0f0 !important;
  color: #fff;
}

.rb-maerkesager-minus:before {
  font-family: FontAwesome;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  display: inline-block;
  text-decoration: inherit;
  content: "\f068";
  margin-right: 15px;
}

em {
  color: #444 !important;
}

body {
  background: #fff;
}

.alternativet-slash {
  color: #0f0;
  font-weight: bold;
}

h1 {
  color: #0f0;
}

h2 {
  color: #0f0;
}

h3 {
  color: #0f0;
}

h4 {
  color: #0f0;
}

h5 {
  color: #0f0;
}

h6 {
  color: #0f0;
}

.rb-mont {
  font-family: "Montserrat", sans-serif;
}

.rb-wrapper {
  min-height: 1080px;
}

.fucking-awesome-shadow {
  box-shadow: 0 1px 2px rgba(114, 121, 135, 0.25), 0 8px 14px rgba(114, 121, 135, 0.1) !important;
}

.rb-text-green {
  color: #0f0 !important;
}

.rb-text-default {
  color: #444;
}

.rb-height-viewport {
  min-height: 100vh;
}

.rb-quick-circle {
  background-color: #00cc00;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.rb-circle-icon {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.rb-circle-panel {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(114, 121, 135, 0.25), 0 8px 14px rgba(114, 121, 135, 0.1) !important;
  transition: box-shadow 0.3s ease;
  /*	&:hover {
		box-shadow: 0 8px 12px rgba(114, 121, 135, 0.2), 0 18px 24px rgba(114, 121, 135, 0.05);
	} */
}

/*# sourceMappingURL=theme.rolfbjerre.css.map */