// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1140px;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12; // Evernote Variable DONT CHANGE

$col--padding-right: 20px;


// Navigation
$nav--box-shadow: 0 0 20px rgba(000, 000, 000, 0.2);

$nav--padding-top: 30px;
$nav--padding-bottom: 30px;
