// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1140px;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Montserrat");
$montserrat: 'Montserrat', sans-serif;
$helvetica: Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12; // Evernote Variable DONT CHANGE
$grid--padding-left: 20px;
$grid--padding-right: $grid--padding-left;

$col--padding-right: 20px;


// Navigation
$nav--box-shadow: 0 0 20px rgba(000, 000, 000, 0.2);

$nav--padding-top: 30px;
$nav--padding-bottom: 30px;

$nav-item--margin-left: 20px;

$nav-on-mobile--margin-bottom: 30px;


// Particle System
$particles--box-shadow: 0 0 10px rgba(000, 000, 000, 0.5);
$particles--margin-bottom: 40px;
