.navigation {
	padding: {
		top: $nav--padding-top;
		bottom: $nav--padding-bottom;

	}
	box-shadow: $nav--box-shadow;
	background-color: #fff;
	position: fixed;
	left: 0;
	right: 0;

}

.logo-rb {
	letter-spacing: 2px;
	@extend .inline-block;
	margin: {
		left: -10px;
	}
	text-transform: uppercase;
	font-weight: 600;

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			color: rgba(000, 000, 000, 0.4);

		}
	}

}

.main-nav {
	float: right;

	.nav-item {
		@extend .inline-block;
		margin: {
			left: $nav-item--margin-left;

		}

		&:first-child {
			margin: {
				left: 0;
			}

		}

		a{
			text-decoration: none;
			position: relative;
			color: #000;
			padding: {
				top: 10px;
				bottom: 14px;

			}

			&:hover {
				color: #000;

				&:after {
					width: 100%;

				}

			}

			&:after {
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 7px;
				background-color: #0f0;
				content: "";
				transition: width 0.3s ease;

			}

		}
	}

}