#particles-canvas {
	max-width: 100vw;
	height: 100vh;
	background-color: #fff;
	box-shadow: $particles--box-shadow;
	margin: {
		bottom: $particles--margin-bottom;

	}
	overflow: hidden;


}

.particle-info-box {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: {
		top: -50px;
		left: auto;
		right: auto;

	}
	padding: {
		top: 30px;
		bottom: 30px;
		left: 10px;
		right: 10px;

	}
	max-width: 40vw;

	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

}