#particles-canvas {
	max-width: 100vw;
	height: 100vh;
	background-color: #fff;
/*	background: {
		color: #fff;
		image: url("../img/Rolf-133_smaller.png");
		size: 70%;
		position: top center;
		repeat: no-repeat;

	} */
	box-shadow: $particles--box-shadow;
	margin: {
		bottom: $particles--margin-bottom;

	}

}