@import "variables";
@import "modules/navigation";
@import "modules/particles";
@import "modules/maerkesager";

body {
	background: $body-bg;

}

.alternativet-slash {
	color: $alternativet--green;
	font-weight: bold;

}

@for $i from 1 through 6 {
	h#{$i} {
		color: $alternativet--green;

	}

}

.rb-mont {
	font-family: $mont;

}

.rb-wrapper {
	min-height: 1080px;

}

.fucking-awesome-shadow {
	@include fucking-awesome-shadow("Yo Fool, dis is some niiiice shadow!");

}

.rb-quick-circle {
	background-color: darken($alternativet--green, 10);
	border-radius: 50%;
	height: 75px;
	width: 75px;

}

.rb-circle-icon {
	text-shadow: 2px 2px 3px rgba(000, 000, 000, 0.2);
}

.rb-circle-panel {
	background-color: #fff;
	@include fucking-awesome-shadow("Yo Fool, dis is some niiiice shadow!");
	transition: box-shadow 0.3s ease;

/*	&:hover {
		box-shadow: 0 8px 12px rgba(114, 121, 135, 0.2), 0 18px 24px rgba(114, 121, 135, 0.05);
	} */

}